<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="users">

      <!-- main start -->
      
      <!-- views/users/show.ejs -->
      <div class="show">
        <h3>사용자 정보</h3>
        <div class="content">
          <p class="user_info">이메일<small> : <%= ddd.email %></small></p>
          <p class="user_info">별명<small> : <%= ddd.nickname %></small></p>
          <a href="/users/<%=ddd._id%>/edit"><button>수정</button></a>
        </div>
        <a href="/"><button>뒤로</button></a>
      </div>
      
      <!-- main end -->
  </div>

  <!-- footer -->
  <% include ../partials/footer %>
</body>
</html>