<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="posts">
      <% include partials/top %>

      <!-- main start -->
      
      <!-- views/posts/index.ejs -->
      <div class="new">
        <h3>수정중인 글</h3>
        <form class="posts_form" action="/posts/<%=kiki._id%>?_method=put" method="post">
          <label>제목</label>
          <input type="text" name="post[title]" value="<%=kiki.title%>"> <br><br>
          <label>내용</label>
          <textarea name="post[body]"><%=kiki.body%></textarea> <br><br>
          <div class="float_right">작성자: <%= ddd.nickname %></div>
          <button type="submit">수정</button>
        </form>
        <a href="javascript:history.back();"><button>뒤로</button></a>
      </div>

      <!-- main end -->
  </div>

  <!-- footer -->
  <% include ../partials/footer %>
</body>
</html>