<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <div class="posts">
      <% include partials/top %>

      <!-- main start -->
      
      <!-- views/posts/index.ejs -->
      <div class="new">
        <h3>새로운 글</h3>
        <form class="posts_form" action="/posts" method="post">
          <label>제목</label>
          <input type="text" name="post[title]" value=""> <br><br>
          <label>내용</label>
          <textarea name="post[body]""></textarea> <br><br>
          <button type="submit">작성</button>
        </form>
        <a href="/posts"><button>뒤로</button></a>
      </div>

      <!-- main end -->
  </div>

  <!-- footer -->
  <% include ../partials/footer %>
</body>
</html>